body{
text-align: center;
background-color: #fff;
}

.main-body{
  text-align: center;
}

.section-head{
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 100px;
  padding-top: 100px;
  font-family: 'Ubuntu', sans-serif;
}
q{
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-align: justify;
}
.about-para{
  text-align: center;
  text-align: justify;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

.page-hr {
  width: 10%;
  border-style: none;
  border-top-style: dotted;
  border-width: 15px;
  border-color: #000;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 130px;
}
/* NAVBAR SECTION STYLES */

.navbar{
  background: #00bcd4;
}

.nav-item {
  color: #000 !important;
  margin-right: 50px;
  font-size: 15px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.nav-item:hover{
  color: #fff !important;
}

.brand{
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.brand:hover{
  text-decoration: none;
  color: blue;
}

.navbar-toggler{
  margin: 25px;
  width: 90px !important;
  height: 80px !important;
  border: 0
}

.navbar-toggler-icon{
  width: 70px !important;
  height: 60px !important;
  color: #000 !important;
}

/* HOME PAGE STYLES */

#home-page{
  padding: 100px 7% 100px 7%;


}

.main-head {
  font-size: 480%;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  text-align: center;
  padding-top: 50px;
}

.sub-head {
  font-size: 25px;
  font-weight: lighter;
  font-family: sans-serif;
  text-align: center;
}

.school-img {
  border-radius: 15px;
  text-align: center;
  width: 70%;
  margin-top: 40px;
  border: 6px solid #000;

}

/* ONLINE CLASS PAGE STYLES */

#class-page{
  padding: 100px 7% 100px 7%;
}

.row-one, .row-two {
  display: block;
  height: 200px;
  padding-top: 70px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  border: 6px solid #000;
  color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.row-one {
  background-color: #77d8d8;
}
.row-one:hover {
  background-color: #0779e4;
  text-decoration: none;
  color: #fff;
}

.row-two {
  background-color: #827397;
}

.row-two:hover {
  background-color: #363062;
  text-decoration: none;
  color: #fff;
}

.items{
  padding: 15px;
  text-align: center;
}



/* GALLERY SECTION STYLES */

#gallery{
  padding: 90px 20% 100px 20%;
}

.carousel-item{
  width: 100%;
}

.gallery-head{
  padding-bottom: 50px;
}



/* ABOUT SECTION STYLES */

#about{
  padding: 100px 7% 100px 7%;
  margin-bottom: 200px;
}

.hm-image{
  width: 230px;
  height: 230px;
  border-radius: 50%;

  margin-bottom: 10px;
}

.hm-title{
  font-size: 20px;
}

.about-row{
  padding: 10px 8.3% 10px 8.3%;
}


/* CONTACT SECTION STYLE */

#contacts{
  padding-top: 200px;
}

.footer{
  width: 100%;
  height: 520px;
  background-color: #a6b1e1;
}

.contact-head{
  text-align: center;
  font-size: 19px;
  color: #000;
}

.contact-btn{
  margin-top: 100px;
  width: 180px;
  height: 58px;
  border-radius: 20px;
  border-width: 2px !important;
  border-color: #000 !important;


}


.btn-text{
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.btn-text:hover{
  text-decoration: none;
  color: #000;
}

.copy-right{
  color: #222831;
}
/* VIDEOS PAGE STYLES AND OPTIONS */

h3{
  font-size: 20px;
  font-weight: bolder;
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 5px;
}

.video-section{
  padding: 100px 20% 100px 20%;
}

.videos{
  text-align: center;
}
.std-head{
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
}



@media (max-width:999px) {

  #gallery{
    padding: 200px 5% 200px 5%;
  }

  .main-head {
    font-size: 400%;
  }
  .school-img{
    width: 100%;
  }

  .sub-head {
    font-size: 200%;
  }

  .video-section{
    padding: 100px 5% 100px 5%;
  }


  .nav-item {
    font-size: 50px;
  }

  .main-head {
    padding-top: 50px;
  }

  q{
    font-size: 60px;
  }

  .contact-btn{
    width: 250px;
    height: 90px;
    margin-top: 50px;
  }

  .contact-head{
    font-size: 28px;
  }

  .btn-text{
    font-size: 30px;
  }

  .brand{
    font-size: 1.6rem;
  }


  .footer{
    height: 550px;
  }

  .copy-right{
    font-size: 18px;
  }


  .hm-image{
    width: 250px;
    height: 250px;
  }

  .hm-title{
    font-size: 28px;
  }

}
