body {
  text-align: center;
  background-color: #fff;
}

q {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-align: justify;
}

.main-body {
  text-align: center;
}

.section-head {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 100px;
  padding-top: 100px;
  font-family: 'Ubuntu', sans-serif;
}

.about-para {
  text-align: center;
  text-align: justify;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

.page-hr {
  width: 10%;
  border-style: none;
  border-top-style: dotted;
  border-width: 15px;
  border-color: #000;
  margin: auto;
  margin-top: 250px;
  margin-bottom: 250px;
}

/* NAVBAR SECTION STYLES */
.navbar {
  background: #00bcd4;
}

.nav-item {
  color: #000 !important;
  margin-right: 50px;
  font-size: 15px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.nav-item:hover {
  color: #fff !important;
}

.brand {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.brand:hover {
  text-decoration: none;
  color: blue;
}

.navbar-toggler {
  margin: 25px;
  width: 90px !important;
  height: 80px !important;
  border: 0
}

.navbar-toggler-icon {
  width: 70px !important;
  height: 60px !important;
  color: #000 !important;
}

/* HOME PAGE STYLES */
#home-page {
  padding: 100px 7% 100px 7%;
}

.main-head {
  font-size: 480%;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  text-align: center;
  padding-top: 50px;
  animation: h1 2s;
}

.school-img {
  border-radius: 15px;
  text-align: center;
  width: 100%;
  margin-top: 40px;
  border: 6px solid #000;
}

.logo-img {
  text-align: center;
  width: 15%;
  margin: 100px;
  animation: logo 2s;
}

.live-update {
  padding: 40px 7% 40px 7%;
}

.live-text {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #7045af;
}

.download-btn{
  width: 250px;
  height: 80px;
  background: #77d8d8 !important;
  margin: 40px;
  border-radius: 15px !important;
}
.download-btn:hover{
  background: #0779e4 !important;
}

.download-link{
  dext-decoration:none !important;
  color: #000 !important;
  font-weight: lighter;
  font-size: 17px;
  font-family: 'Ubuntu', sans-serif;
}
.download-link:hover{
  text-decoration: none;
  color: #fff !important;
}

/* ONLINE CLASS PAGE STYLES */
#class-page {
  padding: 100px 7% 100px 7%;
}

.row-one, .row-two {
  display: block;
  height: 200px;
  padding-top: 70px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  border: 6px solid #000;
  color: #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.row-one {
  background-color: #77d8d8;
}

.row-one:hover {
  background-color: #0779e4;
  text-decoration: none;
  color: #fff;
}

.row-two {
  background-color: #a6b1e1;
}

.row-two:hover {
  background-color: #363062;
  text-decoration: none;
  color: #fff;
}

.items {
  padding: 15px;
  text-align: center;
}

/* ONLINE CLASS - GMUPS SECTION */
.school-cls-head {
  padding-bottom: 100px;
  padding-top: 220px;
}

.teachers-cls {
  background-color: #a6b1e1;
  display: block;
  height: 200px;
  padding-top: 70px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  border: 6px solid #000;
text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  color: #000;
}

.teachers-cls:hover {
  background-color: #363062;
  text-decoration: none;
  color: #fff;
}

/* GALLERY SECTION STYLES */
#gallery {
  padding: 90px 22% 100px 22%;
}

.carousel-item {
  width: 100%;
}

.gallery-head {
  padding-bottom: 50px;
}

.carousel-control-prev-icon {
  width: 30px !important;
  height: 30px !important;
}

.carousel-control-next-icon {
  width: 30px !important;
  height: 30px !important;
}

/* STAFF DETAILS AND TABLE SECTION STYLE */
.staff-table-head {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 40px;
  padding-top: 100px;
  text-decoration: underline;
  font-family: 'Ubuntu', sans-serif;
}

.table {
  width: 90% !important;
  background-color: #cff1ef;
  border: 4px solid #000;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  text-align: left;
}

td {
  font-size: 20px;
}

.table-head {
  font-size: 25px;
}

/* ABOUT SECTION STYLES */
#about {
  padding: 100px 7% 100px 7%;
  margin-bottom: 200px;
}

.hm-image {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.hm-title {
  font-size: 20px;
}

.about-row {
  padding: 10px 8.3% 10px 8.3%;
}

/* CONTACT SECTION STYLE */
#contacts {
  padding-top: 200px;
}

.footer {
  width: 100%;
  height: 520px;
  background-color: #a6b1e1;
}

.contact-head {
  text-align: center;
  font-size: 19px;
  color: #000;
}

.contact-btn {
  margin-top: 100px;
  width: 180px;
  height: 58px;
  border-radius: 20px;
  border-width: 2px !important;
  border-color: #000 !important;
}

.btn-text {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.btn-text:hover {
  text-decoration: none;
  color: #000;
}

.copy-right {
  color: #222831;
}

/* VIDEOS PAGE STYLES AND OPTIONS */
h3 {
  font-size: 20px;
  font-weight: bolder;
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 5px;
}

.video-section {
  padding: 100px 20% 100px 20%;
}

.videos {
  text-align: center;
}

.std-head {
  font-size: 281.25%;
  font-weight: bold;
  text-align: center;
  padding-bottom: 70px;
  padding-top: 100px;
}

.subject-div {
  padding-top: 100px;
  padding-bottom: 100px;
}

.subject-link {
  padding: 100px 20% 100px 20%;
}

.subject-head {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.drop-btn {
  text-align: center !important;
  width: 400px !important;
  height: 150px !important;
  background-color: #77d8d8 !important;
  color: #000 !important;
  font-size: 30px !important;
  margin-bottom: 30px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold !important;
  border: 6px solid #000 !important;
  border-radius: 15px;
}

.drop-item {
  width: 360px !important;
  height: 100px !important;
  font-size: 35px !important;
  background-color: #363062  !important;
  color: #fff !important;
  font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
}
.drop-item:hover{
  background-color: #a6b1e1 !important;
  color: #000 !important;
}

/* home text and logo animation */
@keyframes logo{

    0%{
        opacity: 0.1;
        transform: translateY(-200px);
    }
    90%{
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
       transform: translate(0);
    }
}
@keyframes h1{
     0%{
         opacity: 0.1;
         transform: translateX(-400px);
     }
     90%{
         transform: translateX(10px);
     }
     100%{
         opacity: 1;
        transform: translate(0);
     }
}


@media (max-width:999px) {
  #gallery {
    padding: 200px 5% 200px 5%;
  }

  .main-head {
    margin-top: 90px;
    font-size: 400%;
  }

  .school-img {
    width: 100%;
  }

  .row-one, .row-two {
    font-size: 35px;
  }

  .teachers-cls {
    font-size: 36px;
  }

  .video-section {
    padding: 100px 5% 100px 5%;
  }

  .nav-item {
    font-size: 50px;
  }

  .logo-img {
    width: 25%;
  }

  q {
    font-size: 60px;
  }

  .table-head {
    font-size: 34px;
  }

  td {
    font-size: 29px;
  }

  .contact-btn {
    width: 250px;
    height: 90px;
    margin-top: 50px;
  }

  .contact-head {
    font-size: 28px;
  }

  .btn-text {
    font-size: 30px;
  }

  .brand {
    font-size: 1.6rem;
  }

  .footer {
    height: 585px;
  }

  .copy-right {
    font-size: 18px;
  }

  .hm-image {
    width: 250px;
    height: 250px;
  }

  .hm-title {
    font-size: 28px;
  }

  .subject-head {
    font-size: 45px;
  }

  .carousel-control-prev-icon {
    width: 40px !important;
    height: 40px !important;
  }

  .carousel-control-next-icon {
    width: 40px !important;
    height: 40px !important;
  }
}
